/* Hide default back campaign button */

.wpneo-single-sidebar.ASA {
  display: none;
}

.freeit-back-campaign-btn {
  background: #1adc68;
  color: #fff;
  font-size: 14px;
  padding: 14px 25px;
  text-transform: capitalize;
  transition: 400ms;
  -webkit-transition: 400ms;
  font-weight: 300;
  border-radius: 3px;
  border: none;
}

/* Change default modal styles*/
.wpneo-modal-content-inner
  :is(.tab-rewards-wrapper, .wpneo-single-sidebar)
  span {
  font-size: 18px;
  margin-bottom: 0;
  padding: 20px 0;
  text-transform: capitalize;
  display: inline;
  border-bottom: none;
}

.wpneo-modal-content-inner .wpneo-single-sidebar.ASA {
  display: block;
  border: 1px solid #eeee;
  padding: 20px 0 10px;
  text-align: center;
}
